.content {
    box-sizing: inherit;
    display: inline-block;
}

.interface {
    display: inline;
}

#hide-textbox {
    border-style: none;
    background: transparent;
}

#triangle-button {
    margin-top: -25px;
    float: right;
    width:20%;
}

.left-column {
    min-width: 600px;
    width: 96%;
    height: 800px;
    margin: auto;
}

.input-column {
    height: 100%;
    width: 31%;
    float: left;
}

#input {
    width: 97%;
    height: 100%;
    min-height: 600px;
    font-size: 22px;
}

.right-column {
    width: 50%;
    float: right;
    margin: auto;
}

.right-column img {
    height: 50px;
    width: 100px;
}

.right-column p {
    border-style: solid;
    border-width: 1px;
    margin: 0;
    padding: 10px;
    font-size: 14px;
}

#help-div{
    margin-top: -16px;
}
#footer {
    width: 99%;
    text-size: 10px;
    bottom: 0;
    position: absolute;
    text-align: center;
}
#lookupbutton {
    float: right;
    display: block;
}

#output-column .expanded{
    height: 93%;
}

.output-column-expanded {
    height: 100%;
    overflow-y: auto;
}

.output-column {
    height: 100%;
    overflow-y: auto;
    float: left;
    width: 17%;
    max-height: 636px;
}

#checkboxes {
    float: right;
}

.buttons {
    min-height: 26px;
    width: 100%;
}

#pageButton {
    float: right;
}

#word_result {
    font-size: .7em;
    /* border-width: 1px 0 1px 0; */
    border-style: solid;
    border-color: #666;
    margin: 0;
    width: 100%;
}

#word_result .kanji_column {
    width: 20%;
}

#word_result .kanji {
    font-family: "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", Meiryo, "MS PGothic", Sans-Serif;
    font-size: 1.8em;
    position: relative;
    width: 98%;
    display: block;
    color: #000;
}

#word_result .kana_column {
    font-family: "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", Meiryo, "MS PGothic", Sans-Serif;
    font-size: 1.8em;
    width: 20%;
}

#word_result td {
    vertical-align: top;
    padding: 3px;
}

#word_result .meanings_column {
    font: 1.6em Georgia, 'Lucida Grande', Helvetica, Sans-serif;
    width: 60%;
}

#word_result .tags {
    font-family: 'Times New Roman', Times, Serif;
    font-style: italic;
    font-size: 1.5em;
    font-weight: normal;
    color: #444;
}

#word_result .common {
    font-weight: normal;
    color: #007100;
}

#word_result .mn_tags {
    font-size: 0.8125em;
}

#word_result .links {
    font-size: 1.3em;
    font-family: 'Lucida Grande', Geneva, Verdana, Arial, Sans-serif;
    font-weight: normal;
}

.menu {
    display: inline;
}

.menu li {
    display: inline;
    float: left;
    margin-right: 1em;
}

.menu, .menu ul {
    min-height: 0;
}

#word_result tr.even {
    background-color: #D8EBFD;
}

.pageButton {
    font-family: arial;
    font-size: 12px;
    font-weight: 500;
    padding: .5em 1em;
    color: #444;
    color: rgba(0,0,0,.8);
    border: 1px solid #999;
    border: 0 rgba(0,0,0,0);
    background-color: rgba(148, 148, 148, 0.19);
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 0 .5px rgba(0, 0, 0, 0) inset,0 0 3px rgba(0, 0, 0, 0.56) inset;
}

.pageButton:hover {
    background-color: #CCC;
}

button:disabled {
    pointer-events: none;
    cursor: default;
    background-color: grey;
}

.flat-button {
  position: relative;
  vertical-align: top;
  width: 90%;
  height: 60px;
  padding: 0;
  font-size: 26px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #657391;
  border: 0;
  cursor: pointer;
  margin-top: 3px;
}

.flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#copyright {
    box-sizing: border-box;
    color: grey;
    display: block;
}
